h1{
    margin-top: 100px;
}

@media (max-width: 1024px) {
    h1 {
      margin-top: 80px;
    }
  }
  
  @media (max-width: 768px) {
    h1 {
      margin-top: 60px;
    }
  }
  
  @media (max-width: 640px) {
    h1 {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      margin-top: 40px;
    }
  }
  
  @media (max-width: 390px) {
    h1 {
      margin-top: 30px;
    }
  }
  