.contact-page123 {
    margin-top: 100px;
}

/* Main Heading */
#heading123 {
    margin-left: 620px;
    font-size: 37px;
    font-weight: 500;
}

/* Container for Form & Info */
.contact-container123 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 150px;
    margin-top: 50px;
}

/* Contact Form Styling */
.contact-form123 {
    background: #eaebec;
    padding: 30px 20px;
    border-radius: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: large;
}

.contact-form123 label {
    font-size: 16px;
    font-weight: 500;
}

.contact-form123 input,
.contact-form123 textarea {
    padding: 12px 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    resize: none;
}

.contact-form123 input:focus,
.contact-form123 textarea:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 4px 15px rgba(59, 130, 246, 0.4);
    
}

/* Button Styling */
.btn123 {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 17px;
    background: linear-gradient(135deg, #3b82f6, #60a5fa); 
    color: #fff;
    font-size: large;
    font-weight: 500;
    border: none;
    box-shadow: 0 4px 15px rgba(59, 130, 246, 0.4); 
    transition: all 0.3s ease; 
    margin-left: 190px;
}

.btn123:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #2563eb, #3b82f6); 
    box-shadow: 0 6px 20px rgba(37, 99, 235, 0.5); 
    transform: translateY(-2px);
}

/* Contact Info Styling */
.contact-info123 {
    background: #eaebec;
    border-radius: 20px;
    padding: 30px 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

.contact-info123 .heading2123 {
    font-size: 15px;
    margin-bottom: 10px;
}
