* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
  background-color: #d4d6d9;
  height: 3000px;
  width: 100vw;
}


@media (max-width: 1200px) {
  body {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 640px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 390px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
