.techCardsContainer07 {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 150px;
    
  }
  
  .techCard07 {
    display: flex;
    align-items: center;
    height: 50px;
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .techLogo07 {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .techName07 {
    font-weight: 500;
    white-space: nowrap;
  }
  